<!DOCTYPE html>
<meta charset="utf-8">
<title>Scrapathon reference parser</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<div class="container">
	<header class="page-header">
		<h3>Scrapathon</h3>
	</header>
	<p>Hello</p>
</div>

<script src="js/bundle.js"></script>